
<img class="lozad" data-src="https://raw.githubusercontent.com/ApoorvSaxena/lozad.js/master/demo/images/thumbs/02.jpg" />
<img class="lozad" data-src="https://raw.githubusercontent.com/ApoorvSaxena/lozad.js/master/demo/images/thumbs/07.jpg" />
<img class="lozad" data-src="https://raw.githubusercontent.com/ApoorvSaxena/lozad.js/master/demo/images/thumbs/06.jpg" />
<img class="lozad" data-src="https://raw.githubusercontent.com/ApoorvSaxena/lozad.js/master/demo/images/thumbs/05.jpg" />
<img class="lozad" data-src="https://raw.githubusercontent.com/ApoorvSaxena/lozad.js/master/demo/images/thumbs/04.jpg" />
