<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zM6 19h12V9.157l-6-5.454-6 5.454V19z" fill="rgba(231,76,60,1)"/></svg></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item [routerLink]="['/main']" routerLinkActive="active">
        <i nz-icon nzType="file"></i>
        <span>main page</span>
      </li>
      <li nz-submenu nzTitle="Image" nzIcon="user">
        <ul>
           <li nz-menu-item [routerLink]="['/fileUpload']" routerLinkActive="active">
            <i nz-icon nzType="file"></i>
            <span>filepond</span>
          </li>
          <li nz-menu-item [routerLink]="['/lozad']" routerLinkActive="active">lozad</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Section One" nzIcon="info-circle" >
        <ul>

 <li nz-menu-item [routerLink]="['/sectionOne/lozad']" routerLinkActive="active">Lozad</li>
          <li nz-menu-item [routerLink]="['/sectionOne/photoviewer']" routerLinkActive="active">photoviewer</li>
          <li nz-menu-item [routerLink]="['/sectionOne/editorJS']" routerLinkActive="active">editorJS</li>
           <li nz-menu-item [routerLink]="['/sectionOne/cleavejs']" routerLinkActive="active">cleavejs</li>
        <li nz-menu-item [routerLink]="['/sectionOne/cssDoodle']" routerLinkActive="active">cssDoodle</li>
         <li nz-menu-item [routerLink]="['/sectionOne/handyScroll']" routerLinkActive="active">handyScroll</li>
        </ul>
      </li>
     
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content" style="overflow:auto">
          <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>